@using PetConnect.BLL.Services.DTO
@using PetConnect.BLL.Services.DTO.Doctor
@model DoctorDetailsDTO

@{
    Layout = "_NewLayout";
}

<section id="hero" class="hero section pb-0">
    <div class="container section-title aos-init aos-animate pb-0" data-aos="fade-up">
        <h2>Our Vets</h2>
        <h3>Dr. @Model.FName</h3>
    </div>
</section>

<section id="doctor-profile" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src= "@Model.ImgUrl"
                     class="img-fluid rounded" alt="@Model.FName's photo" />
            </div>
            <div class="col-md-8">
                <h3 class="mb-4">Dr. @Model.FName @Model.LName</h3>
                <p><strong>Specialty:</strong> @Model.PetSpecialty</p>
                <p><strong>Gender:</strong> @Model.Gender</p>
                <p><strong>Price Per Hour:</strong> @Model.PricePerHour.ToString("F2") EGP</p>
                <p>
                    <strong>Certificate:</strong>
                    <a href="@Model.CertificateUrl" target="_blank">View Certificate</a>
                </p>
                <p><strong>Address:</strong> @Model.Street, @Model.City</p>
                <a href="#" class="btn btn-primary mt-3">Book Appointment</a><br/>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mt-3">Update Profile</a>
            </div>
        </div>
    </div>
</section>
